NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDEZvX8PtJkHK5o--xzVc6BOgyzriaXais
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=imobiliaria-template.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=imobiliaria-template
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=imobiliaria-template.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=569527791464
NEXT_PUBLIC_FIREBASE_APP_ID=1:569527791464:web:a30dcb395ed8e83cbbf0dd
